# home dir folders
.cache/
.config/
.cups/
.fontconfig/
.jssc/
.local/
.npm/
.oracle_jre_usage/
.ssh/
.wapi/
.wireshark/
.wireshark-etc/
Applications/
Desktop/
Documents/
Downloads/
Google\ Drive/
jpgs_from_chicken_coop/
Library/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
Sites/
.Trash/
VirtualBox\ VMs/

# home dir files
.bash_history
.bash_logout
.CFUserTextEncoding
.DS_Store
.git-credentials
.gitconfig
.lesshst
.netrc
.rnd
.vbox_version
.viminfo
.Xauthority

