# home dir folders
.cache/
.config/
.cups/
.fontconfig/
.jssc/
.local/
.oracle_jre_usage/
.ssh/
.wapi/
.wireshark/
Applications/
Desktop/
Documents/
Downloads/
Google\ Drive/
Library/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
Sites/
Trash/
VirtualBox\ VMs/


