# --------------------------
# DO NOT SAVE home dir folders
# --------------------------
.cache/
.config/
.cups/
.dbus-keyrings/
.dbus/
.fontconfig/
.jssc/
.local/
.npm/
.oracle_jre_usage/
.ssh/
.Trash/
.vim/
.wapi/
.wireshark/
.wireshark-etc/
Applications/
Desktop/
Documents/
Downloads/
Google\ Drive/
jpgs_from_chicken_coop/
Library/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
Sites/
VirtualBox\ VMs/

# --------------------------
# DO NOT SAVE home dir files
# --------------------------

# bash history file
.bash_history

# default text encoding and preferred language
.CFUserTextEncoding

# custom attributes of containing folder
.DS_Store

# .git-credentials (contains passwd)
.git-credentials

# .gitconfig (contains name and email info)
.gitconfig

# authentication file
.ICEauthority

# less history file
.lesshst

# automatic login information for the ftp and rexec commands (contains passwds)
.netrc

# postgreSQL history file
.psql_history

# random entropy file
.rnd

# other application support files
.vbox_version

# vi history file
.viminfo

# authentication file
.Xauthority

# log files
.xsession-errors

